@font-face {
  font-family: "Inlander Smooth";
  src: url("../font/inlander-retro-display-font/Inlander/Inlander\ Smooth.woff")
      format("woff"),
    url("../font/inlander-retro-display-font/Inlander/Inlander\ Smooth.otf")
      format("otf"),
    url("../font/inlander-retro-display-font/Inlander/Inlander\ Smooth.ttf")
      format("ttf");
}
:root {
  --color-green: #0c4002;
  --color-black: #231f20;
  --color-yellow: #c4bc07;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Acme", sans-serif;
  scroll-snap-type: x proximity;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 2rem 0;
  letter-spacing: 3px;
}
p {
  margin: 1rem 0;
  font-family: "Lora", sans-serif;
  color: var(--color-black);
  font-size: 1.2rem;
}
h1,
h2 {
  font-family: "Inlander Smooth", sans-serif;
  color: var(--color-green);
  text-align: center;
}
h1 {
  font-size: clamp(1.5rem, 4vw, 7rem);
}
h2 {
  font-size: clamp(1.2rem, 4vw, 3rem);
}
h3 {
  font-family: Belleza, sans-serif;
  font-size: clamp(1rem, 1.5vw, 2rem);
}
section {
  margin-top: 1.5rem;
  scroll-snap-align: center;
  animation: fade-in-scroll linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
  animation-duration: 1ms; /* for Firefox bug */
}
img {
  pointer-events: none;
}
.bold {
  font-weight: bold;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-from-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: none;
  }
}
@keyframes fade-in-scroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
