:root {
  --color-green: #0c4002;
  --color-black: #231f20;
  --color-yellow: #c4bc07;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Acme", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Averia Serif Libre", serif;
  margin: 2rem 0;
}
p {
  margin: 1rem 0;
}
section {
  margin: 1.5rem 0;
}
