:root {
  --color-green: #0c4002;
  --color-black: #231f20;
  --color-yellow: #c4bc07;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Acme", sans-serif;
  scroll-snap-type: x proximity;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Averia Serif Libre", serif;
  margin: 2rem 0;
}
p {
  margin: 1rem 0;
  font-family: "Lora", sans-serif;
}
h1,
h2 {
  font-family: "Inlander Smooth", serif;
}
h3 {
  font-family: Belleza, sans-serif;
}
section {
  margin-top: 1.5rem;
  scroll-snap-align: center;
}
