:root {
  --lists-icon-size: 1.3rem;
}
.consultation {
  background: url("images/marble_3.png") no-repeat;
  background-size: cover;
  height: 100vh;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  background-position-x: min(-20vw, -15rem);
  padding-bottom: 3rem;
}

.consultation h2 {
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.consultation-aspects {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  transform: translateX(-12vw);
}
.consultation-aspects h3 {
  font-weight: 400;
  text-decoration: underline;
  padding-inline: 2rem;
}
ul {
  list-style: none;
  margin: 0;
}
ul > li {
  margin: 1rem 0;
  font-weight: 400;
  font-size: var(--lists-icon-size);
  display: flex;
  font-size: 2rem;
}
ul > li svg {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}

.cards-img-absolute {
  position: absolute;
  height: 120%;
  width: auto;
  right: -10vw;
  top: -7vh;
}

@media (max-aspect-ratio: 17/9) {
  .cards-img-absolute {
    display: none;
  }
}
@media (max-width: 1459px) {
  .consultation {
    overflow: initial;
    height: auto;
    text-align: center;
  }
  .cards-img-absolute {
    display: none;
  }
  .consultation-aspects {
    transform: none;
  }
}
